@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Escolha a sua carteira aqui <a asp-controller="Carteiras" asp-action="Index">Carteira</a>.</p>
</div>
