@model bancknet.Models.User

    <div class="d-flex justify-content-center">
        <form method="post" asp-action="Creat">
            <div class="d-flex justify-content-center p-2">
                <div class="form-group row">
                    <h2 class="text-info pl-3">Criar Novo Usuario</h2>

                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <div class="form-group row no-gutters">
                        <div class="col-4 px-1">
                            <label asp-for="name"></label>
                        </div>
                        <div class="col-8 px-1">
                            <input asp-for="name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row no-gutters">
                        <div class="col-4 px-1">
                            <label asp-for="email"></label>
                        </div>
                        <div class="col-8 px-1">
                            <input asp-for="email" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row no-gutters">
                        <div class="col-4 px-1">
                            <label asp-for="password"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="password" class="form-control" type="password" />
                        </div>
                    </div>
                    <div class="form-group row no-gutters">
                        <div class="col-4 px-1">
                            <label asp-for="Valor"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Valor" class="form-control" type="number"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-20 offset-5 row no-gutters">
                            <div class="col px-1">
                                <input type="submit" class="btn btn-info w-100" value="Criar" />
                            </div>
                            <div class="col px-1">
                                <a asp-controller="Home" asp-action="index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt">Voltar</i></a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-4">
                    @*keep this empty*@
                </div>
            </div>
        </form>
    </div>