@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Para entrar na sua carteira @User.Identity.Name, basta clicar em Carteira </p>
    }
    else
    {
        <p>Para entrar na sua carteira basta Fazer Login primeiro </p>
    }
</div>
