
@model IEnumerable<bancknet.Models.Mywallet>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Minha Carteira</h2>
            <pc class="text-secondary">Bem vindo @ViewData["Nome"]</pc>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Wallet" asp-action="Creat" class="btn btn-primary">
                Adicionar Movimentação
            </a>
        </div>
    </div>

    <br /><br />
    <div class="row pt-2">
        <div class="col-6">
            <h2>Valor em Carteira :@ViewData["Valor"]</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Wallet" asp-action="Index" class="btn btn-primary">
                Todas
            </a>
            <a asp-controller="Wallet" asp-action="Withdraw" class="btn btn-primary">
                Saque
            </a>
            <a asp-controller="Wallet" asp-action="Deposit" class="btn btn-primary">
                Deposito
            </a>
        </div>
    </div>
    @if (Model.Count() > 0)
    {

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Data
                    </th>
                    <th>
                        Descrição
                    </th>
                    <th>
                        Valor
                    </th>
                </tr>

            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="50%">@obj.Date</td>
                        <td width="50%">@obj.Describ</td>
                        <td width="50%" align="center">@obj.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>
            Não existem movimentações cadastradas
        </p>
    }

</div>





